*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}

header{
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2em;
    height: 15vh;
    background-color: #141204;
    color: whitesmoke;
    padding: .8em .5em;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h2{
    font-size: 1rem;
    font-style: italic;
}
.logo i{
    margin-right: .5em;
    font-size: 1.4rem;
}

.list a{
    font-size: 0.8rem;
    font-weight: 400;
    display: inline-block;
    margin: 0 .5em;
    text-decoration: none;
    color: whitesmoke; 
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0.5em;
    background-image: url("./images/banner.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    min-width: 100vw;
    height: 85vh;
}
.banner p{
    margin: 0;
    max-width: 90%;
    line-height: 1.3;
    text-shadow: 0 0 3px black;
}
.banner h2{
    margin: 0.5em 0;
}
.panels{
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

main button{
    display: block;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin: 2em auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #141204;
}

.panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    
    "img img"
    "date ."
    "title ."
    "desc desc";
    border: 4px solid #141204;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #9A9788;
    cursor: pointer;
}
.panel-img{
    grid-area: img;
    max-width: 100%;
}
.panel-date{
    grid-area: date;
}
.panel-h2{
    margin: 0;
    grid-area: title;
}
.panel-desc{
    grid-area: desc;
}
